/*
* @Author: Administrator
* @Date:   2016-06-27 10:26:26
* @Last Modified by:   Administrator
* @Last Modified time: 2016-08-26 11:49:25
*/
.bgwall{
	width: 100%;
	height: 648px;
	background: url(../imgs/top-bg.png) center center no-repeat;
}
.wrap{
	width: 1150px;
	margin: 0 auto;
}
.wall{
	height: 648px;
	position: relative;
}
.logo{
	float: left;
	margin-top: 44px;
	overflow: hidden;
}
.logo a{
	display: block;
	width: 151px;
	height: 38px;
	background: url(../imgs/yiju.png) left center no-repeat;
}
.right{
	float: right;
	color: #fff;
	line-height: 1;
	margin-top: 44px;
	text-align: center;
}
.right a{
	/* float: left; */
	color: #fff;
	padding: 0 8px;
}
.right .enroll{
	padding-right: 0;
	border-left: 1px solid #fff;
}
h1{
	width: 645px;
	height: 83px;
	margin: 0 auto;
	position: absolute;
	top: 190px;
	left: 50%;
	margin-left: -322px;
	background: url(../imgs/h1.png) center center no-repeat;
}
.search-area{
	width: 840px;
	height: 150px;
	position: absolute;
	top: 330px;
	left: 50%;
	margin-left: -443px; 
	color: #fff;
	padding-left: 46px;
	background: url(../imgs/search-bg.png) center center no-repeat;
}
.search-area p{
	font-size: 16px;
	line-height: 50px;
}
.search-area p a{
	color: #fff;
	margin: 0 10px 0 30px;
}
.search-area .space{
	width: 800px;
	height: 50px;
}
.search-area .tab01{
	position: absolute;
	left: 50px;
	top: 50px;
}
.search-area .tab02{
	position: absolute;
	left: 180px;
	top: 50px;
}
.search-area .tab01	.input{
	float: left;
	width: 670px;
	height: 50px;
	background: #fff;
	position: relative;
	border-radius: 8px 0 0 8px;
}
.search-area .tab01	.input i{
	width: 24px;
	height: 12px;
	position: absolute;
	left: 48px;
	top: -10px;
	background: url(../imgs/triangle.png) 0 0 no-repeat;
}
.search-area .tab01	.input select{
	width: 60px;
	float: left;
	height: 30px;
	margin: 10px 0;
	margin-left: 20px;
	font-size: 16px;
	color: #000;
	outline-style: none;
	border: 0;
	border-right: 1px solid #ddd;
}
.search-area .tab01	input{
	width: 85%;
	float: left;
	height: 30px;
	padding: 10px;
	font-size: 15px;
	outline-style: none;
}
.search-area .tab01	.btn{
	width: 123px;
	height: 50px;
	float: left;
	font-size: 18px;
	text-align: center;
	padding-left: 30px;
	color: #fff;
	background: #75A749 url(../imgs/Search.png) 15px 15px no-repeat;
	border-radius: 0 8px 8px 0;
}
.search-area .tab02 div{
	width: 521px;
	height: 50px;
	float: left;
	text-align: center;
	background-color: #75A749;
	border-radius: 8px;
	position: relative;
}
.search-area .tab02 div a{
	display: block;
	color: #fff;
	font-size: 16px;
	line-height: 50px;
}
.search-area .tab02 i{
	width: 20px;
	height: 10px;
	position: absolute;
	left: 20px;
	top: -10px;
	background: url(../imgs/sanjiao.png) center center no-repeat;
} /**/
.search-area .hot{
	float: left;
	color: #999;
	margin-left: 30px;
	font-size: 14px;
	line-height: 40px;
}
.search-area .hot a{
	margin: 0 10px;
	color: #999;
}
.content{
	width: 100%;
	height: 120px;
	background-color: #eee;
}
.content ul{
	height: 120px;
}
.content ul li{
	float: left;
	padding: 20px 0;
}
.content ul li dl{
	font-size: 16px;
	color: #333;
	padding-right: 118px;
	line-height: 40px;
}
.content ul li:last-child dl{
	padding-right: 0;
}
.content ul li dl dt{
	font-weight: bold;
}
.content ul li dl dd{
	font-size: 15px;
}
/***********房源推荐开始**********/
.recommed{
	width: 1250px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 56px;
}
.recommed span{
	width: 28px;
	height: 41px;
	position: absolute;
	top: 135px;
	cursor: pointer;
}
.recommed span:hover{
	background-color: #000;
}
.recommed span.prev{
	left: 0;
	background: url(../imgs/left.png) center center no-repeat;
}
.recommed span.next{
	right: 0;
	background: url(../imgs/right.png) center center no-repeat;
}
.recom{
	height: 100%;
	overflow: hidden;
}
.head{
	height: 110px;
	position: relative;
}
.head h2{
	line-height: 110px;
	text-align: center;
	font-size: 34px;
}
.head h2 green{
	color: #75A749;
}
.head a{
	color: #75A749;
	float: right;
	font-size: 16px;
	font-family:Geneva;
	position: absolute;
	right: 0;
	top: 60px;
}
.recom .cover{
	width: 1150px;
	height: 312px;
	overflow: hidden;
	position: relative;
}
.recom ul{
	width: 9999px;
	position: absolute;
	top: 0;
	left: 0;
}
.recom ul li{
	width: 254px;
	height: 288px;
	padding: 10px;
	margin-left: 16px;
	margin-top: 2px;
	float: left;
	box-shadow: 0 0 3px 2px #eee;
}
.recom ul li:first-child{
	margin-left: 3px;
}
.recom ul li a{
	float: left;
	overflow: hidden;
}
.recom ul li b{
	font-size: 18px;
	color: #333;
	margin-top: 10px;
	line-height: 46px;
}
.recom ul li p{
	line-height: 24px;
	color: #666;
	font-size: 14px;
}
.recom ul li p .green{
	margin-left: 50px;
	font-size: 20px;
	color: #75A749;
}

/***********房源推荐结束**********/
/*************enter********/

.bgwall-2{
	width: 100%;
	height: 655px;
	background: url(../imgs/top-bg2.png) center center no-repeat;
}
.wall-2{
	height: 655px;
	position: relative;
}
.logo-2{
	width: 300px;
	float: left;
	margin-top: 20px;
	overflow: hidden;
	height: 50px;
	background: url(../imgs/line.png) 180px 0 no-repeat;
}
.logo-2 a{
	float: left;
	width: 165px;
	height: 41px;
	margin-top: 5px;
	background: url(../imgs/logo-2.png) left center no-repeat;
}
.logo-2 span{
	font-size: 22px;
	line-height: 50px;
	margin-left: 30px;
	color: #555;
}
.enterbox{
	width: 512px;
	color: #555;
	padding-bottom: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 3px 2px #fff;
	z-index: 9;
	position: absolute;
	top: 90px;
	left: 50%;
	margin-left: -256px;
}
.enterbox b{
	display: inline-block;
	width: 100%;
	line-height: 50px;
	margin-top: 5px;
	font-size: 20px;
	color: #333;
	text-align: center;
}
.infor{
	width: 370px;
	margin: 0 auto;
	font-size: 13px;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
}
.infor p{
	width: 90px;
	text-align: right;
	line-height: 60px;
	margin-right: 5px;
	display: inline-block;
}
.infor p i{
	color: #EB5F00;
}
.infor input{
	width: 248px;
	height: 38px;
	border-radius: 5px;
	outline-style: none;
	padding: 0 10px;
	border: 1px solid #ccc;
}
.infor .focused{
	border: 1px solid #70AD46;
}
.infor .auth{
	width: 98px;
}
.infor .auth-code{
	width: 100px;
	line-height: 36px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	margin-left: 5px;
	display: inline-block;
	background-color: #B0B0B0;
	letter-spacing: 3px;
	font-family: cursive;
}
.infor span{
	font-size: 12px;
	cursor: pointer;
}
.infor .checkbox{
	width: 14px;
	height: 14px;
	margin-top: 10px;
	margin-right: 10px;
	border: 1px solid #ccc;
}
.infor deal{
	display: inline-block;
	color: #70AD46;
	margin-right: 30px;
	cursor: pointer;
	position: relative;
}
.infor deal div{
	width: 200px;
	height: 200px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	left: -50px;
}
.infor .other a{
	color: #A0A0A0;
}
.infor .other a:first-child{
	padding: 0 5px;
	margin-right: 2px;
	border-right: 1px solid #A0A0A0;
	color: #70AD46;
}
.infor .button{
	width: 270px;
	height: 40px;
	color: #fff;
	line-height: 40px;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #70AD46;
}
.infor dl{
	margin-bottom: 15px;
}
.infor dl dt{
	line-height: 2;
	text-align: center;
	color: #999;
	background: url(../imgs/dashed.png) repeat-x 0 12px;
}
.infor dl dt span{
	font-size: 14px;
	padding: 0 5px;
	background-color: #fff;
}
.infor dl dd{
	display: inline-block;
	margin:  15px 0 0 46px;
}
.infor dl dd a{
	display: block;
}

/************enter*************/
/***************enroll****************/
.enroll .user{
	background: url(../imgs/user.png) 242px center no-repeat;
}
.enroll .RD{
	background: url(../imgs/RD.png) 242px center no-repeat;
}
.enroll .mail{
	background: url(../imgs/mail.png) 240px center no-repeat;
}
.enroll .phonenum{
	background: url(../imgs/9.png) 244px center no-repeat;
}
/*************弹窗*************/
#CPM{
	
	text-align: center;
}
#CPM p{
	line-height: 2;
	font-size: 20px;
	padding-left: 10px;
}
#CPM p img{
	vertical-align: middle;
	margin-right: 8px;
	margin-top: -5px;
}
#CPM a{
	color: #666;
	line-height: 5;
}
/****************enroll***************/

/*****************footer*****************/
.footer{
	width: 100%;
	height: 262px;
	background: #242623;
}
.chaining{
	float: left;
	width: 946px;
	padding: 30px 0 40px;
	color: #ccc;
	line-height: 36px;
	border-bottom: 2px solid #444;
}
.chaining a{
	color: #ccc;
	margin-right: 10px;
}
.copyright{
	float: left;
	padding: 20px 0 30px;
	line-height: 36px;
	color: #ccc;
}
.code{
	float: right;
	width: 152px;
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	color: #ccc;
	margin-top: -100px;
}

/*****************footer*****************/
