/*
* @Author: Administrator
* @Date:   2016-06-27 17:38:02
* @Last Modified by:   Administrator
* @Last Modified time: 2016-08-29 18:07:17
*/
/**************top*************/
.top{
	width: 100%;
	height: 40px;
	padding: 8px 0;
	background-color: #75A749;
}
.wrap{
	width: 1150px;
	margin: 0 auto;
}
.logo{
	float: left;
	overflow: hidden;
}
.logo a{
	display: block;
	width: 151px;
	height: 38px;
	background: url(../imgs/yiju.png) left center no-repeat;
}
.right{
	float: right;
	line-height: 1;
	margin: 13px 0;
	font-size: 14px;
	color: #fff;
	text-align: center;
}
.right a{
	color: #fff;
	padding: 0 8px;
}
.right .enroll{
	padding-right: 0;
	border-left: 1px solid #fff;
}
.search{
	width: 640px;
	height: 36px;
	float: left;
	margin: 2px 0 2px 120px
}
.search	.input{
	float: left;
	width: 518px;
	height: 36px;
	background: #fff;
	border-radius: 10px 0 0 10px;
}
.search	.input select{
	width: 60px;
	float: left;
	height: 20px;
	margin: 8px 0;
	margin-left: 20px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000;
	outline-style: none;
	border: 0;
	border-right: 1px solid #ddd;
}
.search	input{
	width: 80%;
	float: left;
	height: 30px;
	padding: 3px 10px;
	font-size: 15px;
	outline-style: none;
}
.search	.btn{
	width: 122px;
	height: 36px;
	float: left;
	font-size: 18px;
	text-align: center;
	padding-left: 30px;
	color: #fff;
	background: #5A8038 url(../imgs/Search.png) 15px 9px no-repeat;
	border-radius: 0 10px 10px 0;
}
/*******************top end***********/
/*******************sift***********************/
/*********筛选区开始*********/
.select{
	height: 130px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 20px auto;
	padding: 13px 0;
}
.select dl{
	width: 100%;
	font-size: 14px;
	line-height: 32px;
	float: left;
}
.select dl dt{
	width: 46px;
	float: left;
	padding-left: 20px;
}
.select dl dd{
	float: left;
}
.select dl dd a{
	margin: 0 10px;
	color: #333;
}
.select dl dd a.current{
	color: #75A749;
}
.select dl dd select{
	width: 92px;
	height: 20px;
	margin: 0 5px;
	border: 1px solid #ccc;
}
.select dl dd input{
	vertical-align: middle;
	margin: 0 3px 0 10px;
}
/*************sift筛选区结束***********/
/*****************************/
.pagination{
	text-align: center;
	padding: 40px 0;
}     
.pagination a {
    text-decoration: none;
	border: 1px solid #ccc;
	color: #333;
}
.pagination a, .pagination span {
    display: inline-block;
    padding: 0.4em 0.68em;
    margin-right: 8px;
	/* margin-bottom: 5px; */
	font-size: 16px;
}
.pagination .current {
    background: #f5f5f5;
    color: #333;
	border: 1px solid #ccc;
}
.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
/****************************/
/*************房源列表开始***********/
.houselist{
	overflow: hidden;
}
.thead{
	width: 1148px;
	height: 38px;
	background-color: #eee;
	border: 1px solid #ccc;
}
.thead .submenu{
	width: 950px;
	height: 38px;
	float: left;
}
.thead .submenu li{
	float: left;
	min-width: 48px;
	padding: 0 20px;
	line-height: 38px;
	text-align: center;
	font-size: 17px;
	color: #333;
	cursor: pointer;
}
.thead .submenu li.current1{
	color: #fff;
	height: 40px;
	margin-top: -1px;
	background-color: #75A749;
}
.thead .option{
	width: 198px;
	height: 38px;
	float: right;
}
.thead .option li{
	width: 30%;
	height: 38px;
	line-height: 38px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.thead .option li.current2{
	color: #75A749;
}
.thead .option .price{
	position: relative;
}
.thead .option li i{
	display: block;
	width: 7px;
	height: 5px;
	position: absolute;
	right: 5px;
}
.thead .option li i.up{
	top: 14px;
}
.thead  .option li i.down{
	bottom: 14px;
} /* */
.houselist ul li{
	height: 160px;
	padding: 30px;
	position: relative;
	background: url(../imgs/border.png) center bottom no-repeat;
}
.houseimg,.introduce{
	float: left;
}
.introduce{
	margin-left: 20px;
}
.introduce strong{
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 16px;
}
.introduce strong a{
	color: #333;
}
.broker,.faith{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-left: 8px;
	vertical-align: middle;
}
.introduce .broker{
	margin-top: -5px;
	background: url(../imgs/broker.png) 0 0 no-repeat;
}
.introduce .faith{
	background: url(../imgs/faith.png) 0 0 no-repeat;
}
.introduce .geren{
	color: #FFA422;
	font-size: 16px;
}
.introduce p{
	color: #666;
	font-size: 14px;
	line-height: 2.3;
}
.introduce p map{
	display: inline-block;
	width: 13px;
	height: 17px;
	vertical-align: middle;
	margin-right: 3px;
	background: url(../imgs/map.png) 0 0 no-repeat;
}
.introduce div{
	width: 64px;
	height: 22px;
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	margin: 10px 10px 0 0;
}
.introduce div.tag01{
	color: #FFA422;
	border: 1px solid #FFA422;
}
.introduce div.tag02{
	color: #75A749;
	border: 1px solid #75A749;
}
.introduce div.tag03{
	width: 74px;
	color: #88B9B9;
	border: 1px solid #88B9B9;
}
.introduce div.tag04{
	width: 74px;
	color: #DE958F;
	border: 1px solid #DE958F;
}
.delete,.aprice,.date{
	position: absolute;
	right: 50px;
}
.edit,.delete{
	width: 54px;
	height: 22px;
	padding-right: 10px;
	border-radius: 2px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	color: #666;
}
.edit{
	background: url(../imgs/edit.png) 46px center no-repeat ;
	position: absolute;
	top: 30px;
	right: 125px;
}
.delete{
	background: url(../imgs/delete.png) 44px center no-repeat ;
	top: 30px;
}
.aprice{
	width: 92px;
	height: 28px;
	top: 80px;
	color: #EB5F00;
	font-size: 14px;
}
.aprice span{
	font-size: 30px;
}
.date{
	top: 125px;
	font-size: 14px;
	color: #666;
}
.houselist .page{
	width: 371px;
	height: 30px;
	margin: 40px auto;
}
.page ul li{
	padding: 0 10px;
	height: 28px;
	border: 1px solid #ccc;
	float: left;
	line-height: 28px;
	text-align: center;
	margin: 0 5px;
}
.page ul li.cur{
	background-color: #F5F5F5;
}
/*************房源列表结束***********/
/*************************sift end********************/
/*******************personal******************/
.cont{
	padding: 20px 0 40px 0;
}
.leftsidebar{
	float: left;
	width: 188px;
	height: 318px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-top: 20px;
}
.photo{
	width: 80px;
	height: 116px;
	margin: 0 auto;
}
.photo p{
	font-size: 16px;
	line-height: 36px;
	text-align: center;
	color: #333;
}
.photo a{
	display: block;
}
.leftsidebar ul{
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
}
.leftsidebar ul li{
	font-size: 16px;
	line-height: 40px;
	text-align: center;
}
.leftsidebar ul li a{
	display: block;
	color: #333;
}
.leftsidebar a.current01{
	color: #fff;
	background-color: #75A749;
}
.rightcontent{
	float: right;
	width: 906px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-bottom: 0;
}
.rightcontent .tab{
	width: 100%;
}
.rightcontent .current0{
	display: block;
}
.rightcontent b{
	font-size: 16px;
	color: #333;
}
/**************我的收藏************/

.tab01 ol{
	width: 100%;
	height: 40px;
	margin-top: 12px;
	background-color: #eee;
}
.tab01 ol li{
	float: left;
	width: 72px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #666;
	cursor: pointer;
}
.tab01 .price{
	position: relative;
}
.tab01 i{
	display: block;
	width: 7px;
	height: 5px;
	position: absolute;
	right: 5px;
}
.tab01 .up{
	top: 14px;
}
.tab01 .down{
	bottom: 14px;
}
.tab01 ol li.current1{
	background-color: #ccc;
}
#Searchresult{
	width: 100%;
	height: 1100px;
} 
#Searchresult2{
	width: 100%;
	height: 1100px;
}
#Searchresult3{
	width: 100%;
	height: 1100px;
}/* */
.tab01 ul{
	width: 100%;
}
.tab01 ul li{
	height: 160px;
	padding: 30px 0;
	position: relative;
	background: url(../imgs/border.png) center bottom no-repeat;
}
.houseimg,.introduce{
	float: left;
}
.introduce{
	margin-left: 20px;
}
.introduce strong{
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 16px;
}
.introduce strong a{
	color: #333;
}
.broker,.faith{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-left: 8px;
	vertical-align: middle;
}
.introduce .broker{
	margin-top: -5px;
	background: url(../imgs/broker.png) 0 0 no-repeat;
}
.introduce .faith{
	background: url(../imgs/faith.png) 0 0 no-repeat;
}
.introduce .geren{
	color: #FFA422;
	font-size: 16px;
}
.introduce p{
	color: #666;
	font-size: 14px;
	line-height: 2.3;
}
.introduce p map{
	display: inline-block;
	width: 13px;
	height: 17px;
	vertical-align: middle;
	margin-right: 3px;
	background: url(../imgs/map.png) 0 0 no-repeat;
}
.introduce div{
	width: 64px;
	height: 22px;
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	margin: 10px 10px 0 0;
}
.introduce div.tag01{
	color: #FFA422;
	border: 1px solid #FFA422;
}
.introduce div.tag02{
	color: #75A749;
	border: 1px solid #75A749;
}
.introduce div.tag03{
	width: 74px;
	color: #88B9B9;
	border: 1px solid #88B9B9;
}
.introduce div.tag04{
	width: 74px;
	color: #DE958F;
	border: 1px solid #DE958F;
}
.delete,.aprice,.date{
	position: absolute;
	right: 20px;
}
.edit,.delete{
	width: 54px;
	height: 22px;
	padding-right: 10px;
	border-radius: 2px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	color: #666;
}
.edit{
	cursor: pointer;
	background: url(../imgs/edit.png) 46px center no-repeat ;
	position: absolute;
	top: 30px;
	right: 95px;
}
.delete{
	cursor: pointer;
	background: url(../imgs/delete.png) 44px center no-repeat ;
	top: 30px;
}
.aprice{
	width: 92px;
	height: 28px;
	top: 80px;
	color: #EB5F00;
	font-size: 14px;
}
.aprice span{
	font-size: 30px;
}
.date{
	top: 125px;
	font-size: 14px;
	color: #666;
}
/**************我的收藏************/
/**************编辑信息************/
.tab04{
	padding-bottom: 30px;
	min-height: 290px;
}
.tab04 ol{
	width: 100%;
	height: 40px;
	margin-top: 12px;
	background-color: #eee;
}
.tab04 ol li{
	float: left;
	width: 100px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #666;
	cursor: pointer;
}
.tab04 ol li.current1{
	background-color: #ccc;
}
.tab-1 button{
	width: 105px;
	height: 35px;
	background-color: #75A749;
	border-radius: 5px;
	color: #fff;
	line-height: 35px;
	font-size: 16px;
	position: relative;
	overflow: hidden;
}
.tab-1 input.file{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.tab-1 .img{
	width: 180px;
	height: 180px;
	margin-top: 10px;
}
.tab04 input{
	height: 39px;
	line-height: 39px;
	font-size: 18px;
}
.tab04 input.save{
	width: 123px;
	border-radius: 5px;
	color: #fff;
	background-color: #75A749;
}
.tab04 input.cancle{
	width: 100px;
	color: #333;
	background-color: #fff;
}
.tab04 .tabs{
	padding: 35px 0;
	font-size: 16px;
}
.tab04  div.tab-1{
	padding-bottom: 20px;
}
.tab04 .tabs input{
	width: 200px;
	height: 32px;
	padding: 0 10px;
	line-height: 32px;
	border-radius: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	vertical-align: middle;
}
.tabs p{
	display: inline-block;
	width: 80px;
	line-height: 3.5;
	text-align: right;
	margin-right: 6px;
	color: #333;
}
/**************编辑信息************/
/*********************personal end******************/
/********************publish start******************/
/* ***************main content************* */
h1{
	line-height: 100px;
	text-align: center;
	font-size: 24px;
}
.form{
	font-size: 14px;
	margin-bottom: 40px;
}
.form fieldset{
	margin-bottom: 20px;
}
.form fieldset p{
	display: inline-block;
	padding-left: 20px;
	margin-right: 8px;
	line-height: 36px;
	width: 80px;
	color: #333;
	text-align: right;
}
.form fieldset div.row{
	display: block;
	margin-bottom: 0;
}
.form fieldset p span{
	color: #EB5F00;
}
.form legend strong{
	color: #333;
	font-size:16px;
	line-height: 36px; 
}
.form fieldset div{
	margin-bottom: 20px;
}
.form input{
	font-size: 14px;
	color: #333;
	vertical-align: middle;
	margin-right: 5px;
}
input[type=checkbox]{
	color: #A0A0A0;
}
.form input:focus{
	outline: none;
	border-color: #75A749;
}
.form input[type=radio]{
	display: none;
}
fieldset.radiobox label{
	display: inline-block;
	margin-right: 15px;
	padding-left: 20px;
	background: url(../imgs/radio.png) left center no-repeat;	
}
fieldset.radiobox label.checked{
	background: url(../imgs/radio-checked.png) left center no-repeat;
}
.price{
	position: relative;
}
label[for=price]{
	position: absolute;
	left: 190px;
	top: 10px;
}
.txt01{
	width: 340px;
	height: 33px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-left: 14px;
}
input.txt02{
	width: 98px;
	height: 33px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 14px;
	text-align: right;
	/* color: #A0A0A0; */
}
.form select{
	min-width: 60px;
	height: 33px;
	font-size: 14px;
	border-radius: 5px;
	color: #333;
	border: 1px solid #ccc;
	padding: 0 15px;
	line-height: 33px;
	margin-right: 5px;
}
.floor{
	width: 128px;
	height: 35px;
	margin-right: 5px;
	display: inline-block;
	position: relative;
}
.floor label{
	width: 70%;
	height: 100%;
	padding: 0 15%;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 35px;
	color: #A0A0A0;
}
.floor label pre{
	font-family: Microsoft yahei;
}
.floor input{
	width: 68px;
	height: 33px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 30px;
	text-align: center;
}
.txt03{
	display: inline-block;
	width: 100px;
	height: 33px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 14px;
}
.txt04{
	width: 528px;
	height: 33px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 14px;
}
.txt05,.txt06{
	width: 182px;
	height: 33px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 14px;
}
.txt06{
	width: 238px;
}
.form .thisSpace{
	margin-bottom: 0;
}
.txt07{
	display: inline-block;
	line-height: 33px;
	color: #A0A0A0;
	width: 108px;
	height: 33px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	margin-right: 6px;
	margin-bottom: 20px;
	cursor: pointer;
	position: relative;
}
.selected{
	width: 110px;
	height: 35px;
	border: 0;
	line-height: 35px;
	background: url(../imgs/frame.png) 0 0 no-repeat;
}
.txt07 input{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.form .m0{
	position: relative;
	margin-bottom: 0;
	padding-top: 30px;
}
.m0 input{
	width: 165px;
	height: 35px;
	z-index: 9;
	opacity: 0;
	margin-left: 115px;
}
.m0 label{
	position: absolute;
	width: 165px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	font-size: 15px;
	background-color: #75A749;
	border-radius: 5px;
	top: 0;
	left: 114px;
}
#pic{
	margin-bottom: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.form .pictures{
	width: 900px;
	height: 200px;
	margin: 20px 110px 0;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.form .m0 i{
	color: #A0A0A0;
	font-size: 12px;
	line-height: 3;
	margin-left: 112px;
}
.form .submit{
	width: 330px;
	height: 42px;
	border-radius: 5px;
	background-color: #75A749;
	line-height: 42px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	margin-left: 30px;
}
/* ***************main content************* */
/****************弹窗**************/
.cpm{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}
#CPM{
	width: 300px;
	height: 180px;	
	position: absolute;
	top: 300px;
	left: 50%;
	margin-left: -150px;
	top: 200px;
	left: 45%;
	background-color: #fff;
	box-shadow: 1px 1px 0 0 #fff;
	border-radius: 5px;
	text-align: center;
}
#CPM span{
	display: block;	
	width: 17px;
	height: 17px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
#CPM p{
	line-height: 2;
	font-size: 20px;
	padding-left: 10px;
	line-height: 60px;
}
#no+p{
	margin-top: 30px;
}
#CPM p img{
	vertical-align: middle;
	margin-right: 8px;
	margin-top: -5px;
}
#CPM a{
	color: #666;
	line-height: 5;
}
#CPM .back{
	color: #75A749;
}
#CPM button{
	width: 90px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -100px;
}
#CPM .no{
	width: 17px;
	height: 17px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(../imgs/no.png) no-repeat;
}
#CPM .yes{
	background-color: #75A749;
}
#CPM .not{
	margin-left: 10px;
	background-color: #999;
}
/****************弹窗******************/
/* 警告框 */
#warn{
	text-align: center;
}
#warn p{
	font-size: 20px;
	margin-top: 50px;
	padding-left: 10px;
}
#warn p i{
	display: inline-block;
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px;
	right: 6px;
}
#warn a{
	color: #999;
	line-height: 70px;
}

/***********************publish end**********************/ 
/**********************details**********************/
.nav{
	margin: 20px 0;
	width: 100%;
	height: 32px;
	border: 1px solid #D5D5D5;
	background: #eee;
}
.nav div{
	line-height: 32px;
	font-size: 14px;
}
.nav div a{
	color: #666;
}
.content{
	height: 435px;
}
.imgshow{
	width: 454px;
	height: 428px;
	display: inline-block;
}
.bigimg{
	width: 454px;
	height: 340px;
	cursor: pointer;
}
.imgshow ul{
	height: 78px;
	margin: 10px 0;
}
.imgshow ul li{
	width: 106px;
	height: 78px;
	float: left;
	cursor: pointer;
	margin-left: 10px;
}
.imgshow ul li:first-child{
	margin-left: 0;
}
.describe{
	width: 658px;
	height: 428px;
	margin-left: 30px;
	float: right;
	position: relative;
}
.describe h2{
	font-size: 24px;
	line-height: 50px;
	color: #333;
}
.definite{
	margin-top: 28px;
}
.definite p{
	color: #666;
	width: 380px;
	font-size: 13px;
	line-height: 34px;
}
.definite p span{
	color: #EB5F00;
}
.definite p span i{
	font-size: 24px;
}
.definite div{
	width: 350px;
}
.definite div p{
	display: inline-block;
	width: 160px;
}
.bottom{
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.contact{
	width: 220px;
	height: 70px;
	float: left;
	padding-left: 60px;
	color: #fff;
	font-size: 16px;
	line-height: 70px;
	border-radius: 5px;
	cursor: pointer;
	background: #75A749 url(../imgs/phone.png) 18px center no-repeat
}
.contact span{
	font-size: 20px;
}
.bottom .save{
	width: 60px;
	line-height: 70px;
	color: #666;
	float: left;
	margin-left: 50px;
}
.bottom .save i{
	float: left;
	width: 21px;
	height: 20px;
	cursor: pointer;
	margin: 25px 5px 25px 0;
	background: url(../imgs/save.png) 0 center no-repeat;
}
.bottom .save span{
	float: left;
}
.bottom .save i.saved{
	background: url(../imgs/saved.png) 0 center no-repeat;
}
.share{
	width: 60px;
	height: 70px;
	line-height: 70px;
	color: #666;
	float: left;
	margin-left: 20px;
	position: relative;
}
.share i{
	float: left;
	width: 21px;
	height: 20px;
	cursor: pointer;
	margin: 25px 5px 25px 0;
	background: url(../imgs/share.png) 0 center no-repeat;
}
.shares{
	/* width: 186px; */
	width: 168px;
	height: 36px;
	padding-top: 8px;
	position: absolute;
	top: 45px;
	left: 0;
	display: none;
	background: url(../imgs/bg.png);
}
.bdsharebuttonbox{
	padding-left: 10px;
}/* 
.shares ul{
	height: 24px;
	padding: 6px 0 6px 8px;
}
.shares ul li{
	width: 24px;
	height: 24px;
	float: left;
	margin: 0 5px;
}
.shares ul li a{
	display: block;
} */
.wrap h3{
	font-size: 15px;
	line-height: 2.6;
}
.deploy ul{
	height: 56px;
	width: 100%;
	border-top: 1px solid #ccc;
}
.deploy ul li{
	padding-left: 20px;
	margin-left: 25px;
	height: 56px;
	min-width: 20px;
	float: left;
	font-size: 13px;
	line-height: 56px;
	color: #666;
}
.deploy ul li:first-child{
	padding-left: 25px;
	background: url(../imgs/01.png) 0 center no-repeat;
}
.deploy ul li:nth-child(2){
	padding-left: 18px;
	background: url(../imgs/02.png) 0 center no-repeat;
}
.deploy ul li:nth-child(3){
	padding-left: 26px;
	background: url(../imgs/03.png) 0 center no-repeat;
}
.deploy ul li:nth-child(4){
	padding-left: 22px;
	background: url(../imgs/04.png) 0 center no-repeat;
}
.deploy ul li:nth-child(5){
	background: url(../imgs/05.png) 0 center no-repeat;
}
.deploy ul li:nth-child(6){
	padding-left: 16px;
	background: url(../imgs/06.png) 0 center no-repeat;
}
.deploy ul li:nth-child(7){
	padding-left: 26px;
	background: url(../imgs/07.png) 0 center no-repeat;
}
.deploy ul li:nth-child(8){
	padding-left: 22px;
	background: url(../imgs/08.png) 0 center no-repeat;
}
.deploy ul li:nth-child(9){
	background: url(../imgs/09.png) 0 center no-repeat;
}
.deploy ul li:nth-child(10){
	background: url(../imgs/10.png) 0 center no-repeat;
}
.deploy ul li:nth-child(11){
	padding-left: 22px;
	background: url(../imgs/11.png) 0 center no-repeat;
}
.deploy ul li:nth-child(12){
	padding-left: 24px;
	background: url(../imgs/12.png) 0 center no-repeat;
}
.deploy ul li:nth-child(13){
	padding-left: 22px;
	background: url(../imgs/13.png) 0 center no-repeat;
}
.like ul{
	border-top: 1px solid #ccc;
	padding: 20px;
}
.like ul li{
	height: 280px;
	float: left;
	margin-left: 18px;
}
.like ul li:first-child{
	margin-left: 0;
}
.like ul li a{
	display: block;
}
.like ul li h4{
	font-size: 14px;
	line-height: 2.6;
	font-weight: bold;
	color: #333;
}
.like ul li p{
	color: #666;
	line-height: 2;
}
.like ul li p map{
    display: inline-block;
    width: 13px;
    height: 17px;
}

/********************details end*********************/
/*****************footer*****************/
.footer{
	width: 100%;
	height: 262px;
	background: #242623;
}
.chaining{
	float: left;
	width: 946px;
	padding: 30px 0 40px;
	color: #ccc;
	line-height: 36px;
	border-bottom: 2px solid #444;
}
.chaining a{
	color: #ccc;
	margin-right: 10px;
}
.copyright{
	float: left;
	padding: 20px 0 30px;
	line-height: 36px;
	color: #ccc;
}
.code{
	float: right;
	width: 152px;
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	color: #ccc;
	margin-top: -100px;
}
/*****************footer*****************/
